html, body {
    /*height: 100%;*/
    color: #fff;
    background-color: #c90c1a;
    font-family: 'Oswald', sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    border-top: 10px #1e1e1c solid;
}


a, a:hover {
    color: #000;
    text-decoration: none;
}

.page {
    width: 100%;
    height: 100%;
}

.page > .borde-superior {
    position: relative;
    width: 100%;
    height: 6px;
    background-color: #383838;
    z-index: 100;
}

.contenedor {
    margin: 0 auto;
    display: table;
    position: relative;
    z-index: 500;
}

.contenedor-x2 {
    margin: 0 auto;
    display: table;
    position: relative;
    z-index: 500;
}

.img-center {
    margin: 0 auto;
}

.guide > .row {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.logo {}

.logo img {
    margin: 0 auto;
    width: 100%;
    display: inherit;
}

.guide {
    float: none;
    margin: 0 auto;
}

.guide .producto-img {
    margin-top: 0%;
}

.guide .producto-img img {
    width: 369px;
    margin-left: 0;
}

.guide .producto-img img.center {
    margin-left: 42px;
}

.borde-verde-claro {
    border-color: #409a21 !important;
}

.fondo-verde-claro {
    background-color: #4da72c !important;
}

.participa-y-gana {
    margin-bottom: .4em !important;
    margin-top: 1.5em;
    font-weight: bolder;
    font-size: 44px;
    color: #fff;
}

.promocion-valida {
    color: #fff;
    font-size: 21px;
    font-family: 'Open Sans';
    margin-top: 2em;
    font-weight: lighter;
}

.participa-y-gana, .sorteamos {
    font-weight: normal;
}

.sorteamos {
    color: #f6a623;
    font-size: 60px;
    line-height: 1.26;
}

.texto-negrita {
    font-weight: bold;
}

.texto-producto {
    font-size: 25px;
    line-height: 1.44;
}

.guide .instrucciones {
    margin-top: 44px;
    line-height: 1.67;
    font-size: 21px;
    font-family: 'Open Sans';
    font-weight: lighter;
}

.guide #mc-form {
    margin-top: 8% !important;
    padding: 1.5em 3.5em;
    width: 100%;
    color: #293341;
    background-color: #ffffff;
    box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.11);
}

#mc-form > .row {
    margin-bottom: 3%;
    margin-left: 0;
}

.boton {
    line-height: 1.6em;
    color: white;
    font-size: 22.1px;
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #e11021;
    transition: all .6s ease;
    font-family: 'Open Sans';
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
}

.boton:hover {
    color: #e11021;
    background-color: transparent;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border: 3px #e11021 solid;
    padding: 4px;
}

.boton-esp {
    border: 3px #fff solid;
    line-height: 1.6em;
    color: white;
    font-size: 22.1px;
    font-weight: normal;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #e11021;
    transition: all .6s ease;
    font-family: 'Open Sans';
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
}

.boton-esp:hover {
    color: #e11021;
    background-color: white;
    border: 3px white solid;
    padding: 6px;
}

label {
    width: 100%;
    color: #293341;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 500;
}

.input-texto {
    font-size: 13px;
    border: none;
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    padding-top: 1.5em !important;
    padding-bottom: 1.5em !important;
    margin: 0;
    margin-top: 8px;
    background-color: #f3f3f3;
    width: 100%;
}

.input-texto::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #141414;
}

.input-texto:-moz-placeholder { /* Firefox 19+ */
    color: #141414;
}

.input-texto:-ms-input-placeholder { /* IE 10+ */
    color: #141414;
}

.input-texto:-moz-placeholder { /* Firefox 18- */
    color: #141414;
}

.banda-pie {
    width: 100%;
    background-color: #000;
    color: #fff !important;
    margin-bottom: 0%;
    margin-top: 5%;
    font-size: 19.2px;
    bottom: 0;
    position: relative;
    z-index: 500;
    font-family: 'Open Sans';
}

.banda-pie .texto {
    color: #fff;
    padding: 52px 0;
}

.subtexto {
    color: #828282;
}

.content-redes-sociales {
    margin-left: 1.6%;
    vertical-align: text-bottom;
}

.content-redes-sociales a {
    margin-right: .3%;
}

.checkbox {}

.checkbox label {
    color: #141414;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.checkbox label a {
    color: #293341;
    font-family: 'Open Sans';
    font-size: 14px;
    text-decoration: underline;
}

.titulo {
    line-height: 52px;
}

.titulo p {
    margin-bottom: 0;
}

.contenedor-100 {
    width: 100%;
    margin-bottom: 64px;
}

.cont-esp {
    width: 70%;
}

/* Extra Small */
@media (max-width: 767px) {
    body {
        font-size: 14px;
        background-size: 100% 100%;
    }

    .divlogo {
        width: 48% !important;
    }

    .guide .producto-img img {
        width: 80vw;
        margin-top: 4.5em !important;
        margin-left: 0 !important;
    }

    .img-mobile {
        display: block;
    }

    .img-normal {
        display: none;
    }

    .cont-esp {
        width: 90%;
    }

    .logo-2 {
        left: 50% !important;
        margin-left: -94px !important;
    }

    .participa-y-gana {
        font-size: 28px;
        line-height: 1.4;
    }

    .sorteamos {
        font-size: 32px;
        line-height: 1.4;
    }

    .instrucciones {
        font-size: 19px !important;
        line-height: 1.4 !important;
    }

    .instrucciones br {
        display: none;
    }

    .promocion-valida {
        font-size: 18px !important;
        line-height: 1.2;
    }

    #mc-form {
        padding: 1.5em !important;
    }

    .aun-no-conoces {
        font-size: 26px;
        line-height: 1.4;
    }

    .texto {
        font-size: 15px;
    }

    .texto table {
        width: 85%;
    }

    .content-redes-sociales a {
        margin-right: 0;
    }

    .content-redes-sociales a img {
        width: 2.5em;
    }

    .contenedor {
        display: block;
    }

    .boton-esp {
        font-size: 16px;
    }
}



/*      MEDIA QUERYS    */
/* Small */
@media (min-width: 768px) and (max-width: 991px) {
    body {
        font-size: 14px;
        background-size: 100% 100%;
    }

    .guide .producto-img img {
        width: 80vw;
        margin-top: 4.5em !important;
        margin-left: 0 !important;
    }

    .img-mobile {
        display: block;
    }

    .img-normal {
        display: none;
    }

    .cont-esp {
        width: 90%;
    }

    .logo-2 {
        left: 50% !important;
        margin-left: -94px !important;
    }

    .participa-y-gana {
        font-size: 28px;
        line-height: 1.4;
    }

    .sorteamos {
        font-size: 32px;
        line-height: 1.4;
    }

    .instrucciones {
        font-size: 19px !important;
        line-height: 1.4 !important;
    }

    .instrucciones br {
        display: none;
    }

    .promocion-valida {
        font-size: 18px !important;
        line-height: 1.2;
    }

    #mc-form {
        padding: 1.5em !important;
    }

    .aun-no-conoces {
        font-size: 26px;
        line-height: 1.4;
    }

    .texto {
        font-size: 15px;
    }

    .texto table {
        width: 85%;
    }

    .content-redes-sociales a {
        margin-right: 0;
    }

    .content-redes-sociales a img {
        width: 2.5em;
    }

    .contenedor {
        display: block;
    }
}

/* Medium */
@media (min-width: 992px) and (max-width: 1199px) {
    body {
        font-size: 17px;
        background-size: 100% 100%;
    }

    .img-mobile {
        display: none;
    }

    .img-normal {
        display: block;
    }
}

/* Large */
@media (min-width: 1200px) {
    body {
        font-size: 20px;
        background-size: 100% 100%;
    }

    .img-mobile {
        display: none;
    }

    .img-normal {
        display: block;
    }
}

.logo-2 {
    position: absolute;
    left: 50%;
    margin-left: -170px;
}
